<html>
  <head>
    <title>Morningstar Report</title>
    {{{headTag}}}
    <style>
      /* Add your CSS styling here */
    </style>
  </head>
  <body>
    <h1>Morningstar Fund Report</h1>
    <div>
      {{{svgElement}}}
    </div>
  </body>
</html>